/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
} 

/* Add this to your existing globals.css */
html {
  scroll-behavior: smooth;
} 

.animate-bounce-slow {
  animation: bounce 2s infinite;
}

@keyframes subtle-zoom {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-subtle-zoom {
  animation: subtle-zoom 20s infinite alternate ease-in-out;
} 

@import 'mapbox-gl/dist/mapbox-gl.css';

/* Add this to ensure the map container is visible */
.mapboxgl-map {
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas {
  width: 100% !important;
  height: 100% !important;
} 